<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{CSS/adminRegister.css}">
</head>
<title>管理员注册</title>
</head>
<body>
<header>人闲桂花落，夜静春山空</header>
<p class="title">愿喧嚣之中，仍有安宁萦绕</p>
<div class="login-box">
    <form class="formTable" th:action="@{admin/register}" method="post">
        <input type="text" id="userName" autocomplete="off" placeholder="请输入用户名" name="adminName" />
        <input type="password" id="password" autocomplete="off" placeholder="请输入密码" name="password"/>
        <input type="text" id="mobile" placeholder="请输入手机号码" name="mobile">
        <button type="submit">注册</button>
    </form>
</div>
</body>
</html>