<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/CSS/findAllUser.css}" />
    <title>查询所有用户</title>
</head>
<body>
<header>全部用户</header>
<table class="info">
    <tr>
        <td>
            用户名
        </td>
        <td>
            密码
        </td>
        <td>
            联系方式
        </td>
        <td>
            创建时间
        </td>
        <td>
            上次修改
        </td>
    </tr>
    <tr th:each="user:${users}">
        <td><span th:text="${user.username}"></span></td>
        <td><span th:text="${user.password}"></span></td>
        <td><span th:text="${user.mobile}"></span></td>
        <td><span th:text="${#dates.format(user.gmtCreated,'yyyy-MM-dd')}"></span></td>
        <td><span th:text="${#dates.format(user.gmtModified,'yyyy-MM-dd')}"></span></td>
        <td>
            <a style="text-decoration: none; color: blanchedalmond;" th:href="@{/user/delete(id=${user.id})}">删除</a>
            <a style="text-decoration: none; color: blanchedalmond;" th:href="@{/user/find(id=${user.id})}">修改</a>
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" class="addUser" value="添加新用户" onclick="location.href='/web/saveUser'"/>
        </td>
    </tr>
</table>
<div>.............</div>
</body>
</html>