* {
    margin: 0px;
    padding: 0px;
}

ul li{
    list-style: none;
}

body {
    background: url("../images/userPage.png") no-repeat;
    background-size: cover;
}

header {
    width: 100%;
    height: 55px;
    padding-left: 15px;
    padding-top: 5px;
    margin-bottom: 40px;
}

header ul {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
}


header ul li {
    height: 100%;
    font-size: 20px;
    line-height: 50px;
    color: darkgrey;
}

header ul li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.middle{
    padding-left: 70px;
    width: 100%;
    height: 150px;
    display: flex;
    margin-bottom: 20px;
}

.introduction {
    width: 1000px;
    color: azure;
    font-size: 20px;
    margin-right: 600px;
}

.decoration {
    width: 150px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: bisque;
    font-weight: bold;
    font-size: 20px;
    border: aquamarine 1px solid;
    border-radius: 2px;
}

.service{
    width: 800px;
    margin:  0 auto;
}

.service tr td {
    width: 400px;
    height: 150px;
    text-align: center;
    font-size: 50px;
    color: azure;
    border: 1px aqua solid;
    border-radius: 5px;
}

.bottom {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: deepskyblue;
    margin-top: 20px;
}